body {
  padding-top: 5rem;
  background-color: #F7F7F7;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-top: 5rem;
  background-color: #aaaaaa;
  color: #ffffff;
}

navbar {
  background: transparent;
}